<div class="p-container-fluid">
  <div class="col-12">
    <p-table #dt [value]="clientes" dataKey="nome" editMode="row" styleClass="p-datatable-gridlines mb-5" [(selection)]="selectedClients" dataKey="nome"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30]"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"[globalFilterFields]="['nome','idade','genero']">
      <ng-template pTemplate="caption">
        <div class="p-grid p-align-center">
          <span>Lista de Clientes</span>
            <button type="button" (click)="showBasicDialog()" p-button class="btn">
              <i class="pi pi-bars"></i>
            </button>
          <span class="p-input-icon-right ml-auto float-end">
            <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal(($any($event.target).value), 'contains')"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 25%;">Nome</th>
            <th style="width: 20%; text-align: center;">Idade</th>
            <th style="width: 20%; text-align: center;">Gênero</th>
            <th style="width: 20%; text-align: center;">Ativo</th>
            <th style="width: 15%; text-align: center;">Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="cliente">
            <td>
              <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
            </td>
            <td>
                {{cliente.nome}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="cliente.idade" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{cliente.idade}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="cliente.genero" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{cliente.genero}}
                  </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align: center;">
              <p-inputSwitch [(ngModel)]="cliente.ativo"></p-inputSwitch>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(cliente)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(cliente)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(cliente, ri)"></button>
            </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog Selecionar colunas -->
<p-dialog header="Selecione as colunas que deseja exibir" [(visible)]="displayBasic"
[style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="p-grid" style="width:250px;margin-bottom:10px">
      <div class="p-col-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
      <div class="p-col-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox></div>
      <div class="p-col-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities" inputId="la"></p-checkbox></div>
    </div>
    <span *ngFor="let city of selectedCities" style="margin-right:10px">{{city}}</span>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayBasic=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
